:root {
  --primary-color : #6610f2;
  --head-title-color: #3d62ea;
  --active-search-item-color: #fd7e14;
  --primary-background : #fff;
}

body {
  min-height: 95vh;
  background: linear-gradient(to bottom right, #ffffff 0%, #cde6d2 100%);
  background: url("./img/bg.png") center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.5; */
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  /* font-family: 'Gentium Basic', serif; */
  font-size: small;
}

body:after, body:before {
  display: block;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

body::after, body::before {
  position: fixed;
  -webkit-clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);
  clip-path: polygon(100% 0,0 0,0 77.5%,1% 77.4%,2% 77.1%,3% 76.6%,4% 75.9%,5% 75.05%,6% 74.05%,7% 72.95%,8% 71.75%,9% 70.55%,10% 69.3%,11% 68.05%,12% 66.9%,13% 65.8%,14% 64.8%,15% 64%,16% 63.35%,17% 62.85%,18% 62.6%,19% 62.5%,20% 62.65%,21% 63%,22% 63.5%,23% 64.2%,24% 65.1%,25% 66.1%,26% 67.2%,27% 68.4%,28% 69.65%,29% 70.9%,30% 72.15%,31% 73.3%,32% 74.35%,33% 75.3%,34% 76.1%,35% 76.75%,36% 77.2%,37% 77.45%,38% 77.5%,39% 77.3%,40% 76.95%,41% 76.4%,42% 75.65%,43% 74.75%,44% 73.75%,45% 72.6%,46% 71.4%,47% 70.15%,48% 68.9%,49% 67.7%,50% 66.55%,51% 65.5%,52% 64.55%,53% 63.75%,54% 63.15%,55% 62.75%,56% 62.55%,57% 62.5%,58% 62.7%,59% 63.1%,60% 63.7%,61% 64.45%,62% 65.4%,63% 66.45%,64% 67.6%,65% 68.8%,66% 70.05%,67% 71.3%,68% 72.5%,69% 73.6%,70% 74.65%,71% 75.55%,72% 76.35%,73% 76.9%,74% 77.3%,75% 77.5%,76% 77.45%,77% 77.25%,78% 76.8%,79% 76.2%,80% 75.4%,81% 74.45%,82% 73.4%,83% 72.25%,84% 71.05%,85% 69.8%,86% 68.55%,87% 67.35%,88% 66.2%,89% 65.2%,90% 64.3%,91% 63.55%,92% 63%,93% 62.65%,94% 62.5%,95% 62.55%,96% 62.8%,97% 63.3%,98% 63.9%,99% 64.75%,100% 65.7%);  
}

body::after {
  content: "";
  background: linear-gradient(130deg,#0a4075c7,#7282ecc7 41.07%,#077e86c7 76.05%);
}

.cover-page {
  height: 100vh;
  /* background: pink; */
}

.navDark {
  background: #031144;;
}

.nav-link {
  color: rgb(216, 216, 216) !important;
}

.nav-link.active,
.nav-link:hover {
  color: #fdd86a !important;
}

.subComponent {
  padding: 50px 0px;
}

.subComponent-lg {
  padding: 80px 0px;
}

#hero {
  background: url("./img/bg.png") center center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

#hero h1 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 60px;
}

#packageBody {
  background-color: rgb(245, 245, 245);
}

#dealsBody {
  background-color: rgb(245, 245, 245);
}

.wrapped-page {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.item-center {
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.img-carousel {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.carousel-caption {
  height: 50%;
}

.carousel-caption h3 {
  font-size: 5em;
  font-weight: 700;
  text-shadow: 3px 3px 10px black;
}

.carousel-caption p {
  color: rgb(255, 239, 16);
  text-shadow: 2px 2px 5px black;
}

.card {
  margin: 10px 0px;
}

@media (min-width: 284px) {
  .card-columns {
    margin: 0px 20px;
  }

  .tour-msg {
    margin: 0px 10px;
  }
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }

  .tour-msg {
    margin: 0px 20px;
  }
}

@media (min-width: 986px) {
  .card-columns {
    -webkit-column-count: 3 !important;
    -moz-column-count: 3 !important;
    column-count: 3 !important;
  }

  .tour-msg {
    margin: 0px 50px;
  }
}

.packageBody .badge {
  margin: 0px 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.tour-cover {
  width: 90%;
  padding: 20px 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  margin: 50px auto;
}

.tour-cover img {
  width: 100%;
}

.tour-gallery img {
  width: 50%;
  height: 100px;
  object-fit: cover;
  padding: 5px;
}

.tour-msg input,
.tour-msg textarea {
  width: 100%;
  margin: 5px;
  border: 1px solid #6c757d;
  padding: 10px;
  border-radius: 5px;
  background: none;
}

.msg input,
.msg textarea {
  width: 100%;
  margin: 5px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
}

.msg .btn {
  margin: 5px;
}

.reviews {
  background: #f1f1f1;
  padding: 40px 0px 80px 0px;
  margin: 0px;
}

#aboutBody {
  background: #f1f1f1;
  color: #2b2b2b;
}

.svg-group p {
  margin: 15px 0px;
  font-size: .8em;
}

.svg-card {
  background: rgba(0, 0, 0, 0.1);
  color: #2b2b2b;
  padding: 30px;
  margin: 10px;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.svg-card:hover {
  border-radius: 50%;
}

.wrapped-services {
  background: url("./img/bg2.jpg") center center;
  background-size: cover;
  background-attachment: fixed;
}

#servicesBody {
  background: rgba(0, 0, 0, 0.7);
}

#contactBody {
  background: #6d613c;
  color: rgba(0, 0, 0, 0.7);
}

#footerBody {
  background: #383322;
  color: rgba(0, 0, 0, 0.7);
}

#footerBody a {
  color: rgba(0, 0, 0, 0.6);
}

#footerBody a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.svg-card-2 {
  color: #ffffff;
  padding: 30px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.svg-card-2:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #e0e0e0;
  background: rgba(255, 255, 255, 0.3);
}

.svg-card-3 {
  padding: 30px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.7);
}

.headerTitle p {
  color: rgba(0, 0, 0, 0.5);
}

* {
  transition-duration: 0.3s;
}

#landing {
  width: 100%;
  /* height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll; */
  margin: auto;
  margin-top: 80px;
}

@media screen and (max-width: 985px) {
  #landing {
    margin-top: 60px;
  }
}

.landing-content {
  background: #ffffff;
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px rgb(0 0 0 / 77%);  
}

#search-panel {
  /* width: 100%; */
  /* box-shadow: 0 0 25px rgb(0 0 0 / 30%); */
  box-shadow: 0 0 30px rgb(0 0 0 / 77%);
  border-radius: 5px;
  background: #ffffff;
  /* position: sticky;
  position: -webkit-sticky; */
  /*height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll; */
  /* margin: auto;
  margin-top: 80px; */
}

/* This is for desktop - full screen */
@media (min-width: 986px) {
  .landing-content {
    margin: 0px;
    min-height: 750px;
  }
  
  #search-panel {
    width: 100%; /* 460px; */ /*350px;*/
    /*position: fixed;*/
    position: sticky;
    position: -webkit-sticky;
    top: 9%;
    /*height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll; */
    /* margin: auto;
    margin-top: 80px; */
  }  
}

#home {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
#login {
  width: 100%;
  /*height: 100vh;*/
  scroll-behavior: none;
  /*overflow-y: scroll;*/
}
#register {
  width: 100%;
  /*height: 100vh;*/
  /*scroll-behavior: none;*/
  /*overflow-y: scroll;*/
}

.boxcontainer {
  width: 400px; /*280px;*/
  min-height: 550px;
  display: flex;
  flex-direction: column;
  border-radius: 19px;
  background-color: #fff;
  box-shadow: 0px 0px 2.7px rgba(15, 15, 15, 0.28);
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 80px;
}

.topcontainer {
  width: 100%;
  height: 255px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1.8em;
  padding-bottom: 5em;
}
.inner-boxcontainer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1.7em;
}

.formcontainer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0px 0px 2.5px rgb(15 15 15 / 19%);  
    margin: 10px 0px;
}

input {
  width: 100%;
  height: 42px;
  outline: none;
  border: 1px solid rgba(200,200,200,0.03);
  padding: 0 10px;
  -webkit-transition: all,200ms ease-in-out;
  transition: all,200ms ease-in-out;
  box-sizing: border-box;
  border-bottom: 1.4px solid transparent;  
}

input:not(:last-of-type) {
  border-bottom: 1.4px solid rgba(200,200,200,0.4);  
}

input:focus {
  outline: none;
  border-bottom: 2px solid #5963c3;
}

.muted-link {
  color: rgba(170,170,170,1);
  font-size: 11px;
  font-weight: 500;
  margin: 10px 0;
  -webkit-text-decoration: none;
  text-decoration: none;  
}

button.submit {
  padding: 11px 40%;
  width: 100%;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  -webkit-transition: all,240ms ease-in-out;
  transition: all,240ms ease-in-out;
  background: #8360c3;
  background: -webkit-linear-gradient( to right, #2ebf91, #8360c3 );
  background: linear-gradient( to right, #2ebf91, #8360c3 );  
}
/*
.backdrop {
  position: absolute;
  width: 160%;
  height: 550px;
  border-radius: 50%;
  transform: rotate(60deg);
  top: -290px;
  left: -70px;
  background: #8360c3; /* fallback for old browsers */
  /*background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
/*}*/

.backdrop {
  position: absolute;
  width: 170%;
  height: 550px;
  border-radius: 50%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -320px;
  left: -90px;
  background: #8360c3;
  background: linear-gradient( to right, #2ebf91, #8360c3 ); 
}

.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1.7em;
  margin:5px 0px;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 0px 10px 20px;  
}

h2.header-text {
  font-weight: 600;
  color: #fff;
  z-index: 10;
  margin: 0;
  font-size: 30px;
  line-height: 1.24;  
}

h5.small-text {
  font-weight: 500;
  color: #fff;
  z-index: 10;
  margin: 0;
  font-size: 13px;
  line-height: 1.24;
}

#auth {
  font-weight: 600;
  color: #cdcdcd;
  font-size: 12px;
}

#search-panel > ul > li.nav-item > a.nav-link {
  background-color: #e4f0f7;
  color: #5963c3 !important;
  cursor: pointer;
}

#search-panel > ul > li.nav-item > a.active {
  background-color: #07164ed4 !important;
  color: #ffffff !important;
  cursor: pointer;
}

div.tab-content {
  height: 70vh;
  padding: 5px 5px 0px 5px;;
}

/* .inactive {
  color: #fff;
  text-decoration: none;
}

.active {
  color: red;
  text-decoration: none;
} */
/* Action buttons */
.ab-login {
  margin: 0px 0px 0px 10px;
}

.ab-loginout {
  margin: 0px 0px 0px 10px;
}

h3.title {
  margin: 15px 0px 5px 0px;
  font-family: 'Gentium Basic', serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  border-bottom: 1px solid #031144;
}

@media (min-width: 986px) {
  h3.title {
    margin: 45px 0px 5px 0px;
  }
}

.slider-container {
  /* display: flexbox;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */

  /* position:absolute;
  top:150px;
  bottom:0px;
  width:85%;
  height:100%; */

  /* max-width: 100vw;
  width: 100%;
  overflow: hidden;   */
  margin: 5px;
  padding: 2px 10px;
}

.slick-prev:before, .slick-next:before 
{
  color: #501414 !important;
}

.card-item {
  margin: 0px 0px;
}

.logged-in-user {
  font-size: .8em;
  display: inline-block;
  margin: 0px 5px 0px 10px;
  color: #20e6ab;  
}

@media screen and (max-width: 985px) {
  .navbar-brand {
    font-size: 1em !important;
  }
  /* .logged-in-user   {
    font-size: .7em;
  } */
}

.error {
  color: #ff0000;
}

.login-failed {
  font-size: 1.2em;
}
.form-label {
  margin-bottom: 0px;
  font-size: .9em;
  color: #9a9595;
  padding: 0px 4px;
}
.select__input > input {
  height: 100%;
}
.option-item-text {
  font-size: .8em;
  color: #fff;
}
.datetime-picker-control > input {
  height: 25px;
  font-size: .9em;
  color: #4a54f1;
}
.search-control-group > .row {
  margin: 4px 2px;
}
.trip-selector {
  text-align: center;
}
.trip-selector input {
  display: inline;
  width: 20px;
  padding: 0px;
  margin: 0px 5px;
  height: 15px;  
}
.rdtPicker {
  min-width: 210px !important;
}
.rdtPicker td {
  font-size: 12px;
}
.rdtPicker td, .rdtPicker th {
  height: 24px !important;
}
.rdtPicker td.rdtToday {
  position: relative;
  background-color: #badaf9;
}
.rdtPicker .dow {
  font-size: 13px;
}
.rdtPicker th.rdtSwitch {
  font-size: 13px;
}
.themed-container {
  width: 100% !important;
}
@media (min-width: 986px) {
  .themed-container {
    width: 85% !important;
  }
}
.trip-selector {
  width: 100%;
  margin: 10px 0;
  padding: 0px;
  line-height: 16px;
  background-color: transparent;
  float: left;
  border-radius: 3px 3px 0 0;
  clear: both;
  font-size: smaller;
}
.trip-selector ul {
  margin-top: 0;
  margin-bottom: 1rem;
  /*margin-left: 20px;*/
  padding-inline-start: unset;
}
.trip-selector ul li:first-child {
  margin-left: 0;
}
.trip-selector ul li {
  float: left;
  margin: 5px 10px 3px 0px;
}
.trip-selector ul li a {
  font-size: .71429em;
  border-radius: 4px;
  color: #666;
  padding: 7px 23px;
  border: 1px solid #e4e4e4;
  text-transform: uppercase;
  font-weight: 500;
}
.trip-selector ul li a:hover {
  text-decoration: none;
  background-color: #2a52d6;
  color: #fff !important;  
}
a.active-item {
  border: 1px solid #ff0000 !important;
}
.triptype-item {

}
ol ul {
  list-style: none;
}
li {
  list-style: none;
}
.pax-info-box {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 15px;
  width: 100%;
  padding-bottom: 10px;  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  font-weight: 500;
  font-size: 14px;  
  /* min-height: 230px; */
}
.pax-info-box i {
  float: right;
  margin: 2px 0px 0px 0px;
  color: #0000009c;
}
.traveller-label {
  color: #999;
  font-weight: 400;
  display: block;
  font-size: 13px;
  margin-bottom: 8px;
  padding: 0px 0px 5px 0px;
  border-bottom: 1px solid #635e5e70;
}
.total-count {
  margin:0px 2px 0px 0px;
}
.passenger-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.col-x-fluid {
  width: 100%!important;
}
.pax-limit {
  font-size: 1em;
  margin-top: 5px;
}
.count {
  position: absolute;
  top: 31px;
  left: 36px;
  background-color: #e4e4e4;
  padding: 4px 12px;
  width: 35px;
  color: #333;
  opacity: .6;
  height: 28px;
  text-align: center;
}
.dflex {
  margin-bottom: 15px;
  display: flex;
}
.title-section {
  display: flex;
  margin-top: 5px;
}
.minus {
  cursor: pointer;
  display: block;
  margin-right: 35px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  width: 36px;
  height: 28px;
  border: 1px solid #e4e4e4;
  background: url("./img/spinner-arrows.png") no-repeat -19px -23px #fff;
}
.plus {
  border-radius: 0 5px 5px 0;
  border-left: none;  
  cursor: pointer;
  display: block;
  width: 36px;
  height: 28px;
  border: 1px solid #e4e4e4;  
  background: url("./img/spinner-arrows.png") no-repeat 13px 9px #fff;
}

.minus.disabled {
  background-position: 13px -23px;
  cursor: not-allowed
}
.plus.disabled {
  background-position: -19px 9px;
  cursor: not-allowed
}
.hide {
  display: none;
}
.pax-selection-header {
  cursor: pointer;
}
.pax-info-container {
  /* min-height: 280px; */
}
.traveller-container {
  font-size: 1.1em;
  color: #203fd8;
  font-weight: 600;
}
.pax-selection-header .traveller-container label {
  cursor: pointer;
}
.pax-selection-container {
  max-height: 130px;
  height: 130px;
  /* visibility: visible;
  opacity: 1;   */
}
.transform {
  -webkit-transition: all 1s ease;  
  -moz-transition: all 1s ease;  
  -o-transition: all 1s ease;  
  -ms-transition: all 1s ease;  
  transition: all 1s ease;  
}
.container-collapse {
  height: 0px;
  /* visibility: hidden;
  opacity: 0;   */
}
.option-selector {
  margin: 2px 10px 2px 0px;
  cursor: pointer;
}
.option-selector i {
  float: left;
  margin: 2px 6px 2px 0px;
  font-size: large;
}
.option-selector i.fa-check {
  color: #0cb80c;
}
.option-selector i.fa-times {
  color: #e61d27;
}
.class-box {
  display: flex;
  margin-bottom: 15px;
}
.action-section {
  margin-top: 10px;
  float: right;
  /* position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 15px; */
}
.alert-container {
    position: fixed;
    bottom: 0px;
    /* left: 0px; */
    /* right: 0px; */
    margin: auto;
    padding: 5px 45px 0px 15px;
    width: 85%;
    z-index: 9999;
    border-radius: 0px;
}
.alert-container .alert {
  margin-bottom: 0px;
}

@media (max-width: 985px) {
  .alert-container {
    padding: 5px 30px 0px 15px;
    width: initial;
  }
}

button:disabled, button[disabled]{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}
.error-message {
  display: block;
  /* float: left; */
  font-size: 0.6em;
  color: #ff0000;
}

/* Flight search related styles */
.search-header-section {
  position: -webkit-sticky;
  position: sticky;
  /* top: 60px; */
  background: var(--primary-background);
  z-index: 3;
  margin-bottom: 8px;
  margin-top: 10px;  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;  
}

@media screen and (max-width: 985px) {
  .search-header-section {
    margin-top: 0px;
  }
}

.search-item {
  background-color: var(--primary-background);
  padding: 12px 5px 0px;
  margin-bottom: 10px;
}

.search-header-section .search-header-row {
  height: 40px;
  padding: 4px 0px;
}

.search-header-row {
  position: relative;
  height: 50px;
  background: var(--listing-sortBg);
  line-height: 37px;
  margin: 0px !important;
  box-shadow: var(--box-shadow);
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #f5f5f5;
}
#search-result-container {
  background-color: rgba(124, 117, 117, 0.172);
  /* font-family: "museoSans_500"; */
  font-size: 13px;
  line-height: 23px;
  color: #555;
  font-weight: 400;
  position: relative;
  overflow-x: hidden;  
  min-height: 250px;
}

.search-button-filter {
  border: 0;
  background: transparent;
  padding: 5px 0;
  outline: none;
  white-space: nowrap;
  color: var(--head-title-color);
  font-size: 16px;
  line-height: 0;
  font-weight: 500;
}

@media screen and (max-width: 985px) {
  .search-button-filter {
    font-size: 12px;
  }
}

.search-activefilter {
  color: var(--active-search-item-color);
}

.search-activefilter i {
  margin-left: 5px;
}
.flight-airline {

}
.flight-airline li {
  float: left;
  line-height: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #2e464a;
}
.flight-airline li .airline-logo {
  margin-right: 8px;
  width: 30px;
}
.search-city-section {
  font-size: 15px;
  padding-inline-start: 15px;  
}
.search-city-section li {
  float: left;
  line-height: 15px;
  font-weight: 500;
  font-size: 14px;
  color: #2e464a;
}
.no-padding {
  padding: 0px !important;
}
.arrowclass-loader-flight-search {
  height: 2px;
  width: 70%;
  background: #ccc;
  margin-left: 13px;
  position: relative;
  margin-top: 10px;
  display: inherit;
}
.arrowclass-loader-flight-search::before {
    content: '';
    position: absolute;
    height: 8px;
    top: -6px;
    width: 2px;
    background: #ccc;
    right: 3px;
    transform: rotate(135deg);
}
.arrowclass-loader-flight-search::after {
  content: '';
  position: absolute;
  height: 8px;
  top: 0;
  width: 2px;
  background: #ccc;
  right: 3px;
  transform: rotate(45deg);
}
/* .arrow-allright {
  margin-top: -5px;
} */
.flight-arrow-center-arrow {
  margin-top: 5px;
}
.ars-arrowsun {
  display: inherit;
  line-height: 5px;
  font-size: 11px;
  color: #848f91;
  text-align: center;
}
.ars-city {
  margin-bottom: 0px;
}
.search-city-section .ars-city {
  color: #848f91;
  font-weight: normal;
  font-size: 11px;
}
.search-city-section .dep-timefont {
  font-weight: bold;
}
.dur-timefont {
  font-size: 12px;
  color: #848f91;
}
.at-fontweight {
  font-weight: normal;
}
.ars-radiolist {
  padding-inline-start: 15px;
  margin-bottom: 0px;
}
.ars-radiolist li input[type=radio] {
  position: absolute;
  visibility: hidden;
}
input[type=checkbox], input[type=radio] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
.atls-holdid {
  margin-top: 5px;
}
.ars-radiolist li {
  /* position: relative; */
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  width: 100%;
  /* margin-bottom: 12px;
  height: 55px; */
}
.ars-radiolist li .check {
  display: inline-block;
  /* position: relative; */
  border: 1px solid #e2e2e2;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  /* top: -38px;
  left: -25px; */
  margin: 0px 10px 0px 0px;
  z-index: 1;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
  background: #f7f7f7;
  box-shadow: 0 2px 1px 0 rgb(0 0 0 / 3%);
  cursor: pointer;
}
input[type=radio]:checked ~ .check::before {
  background: var(--primary-color);
}
.ars-radiolist li .check::before {
  display: block;
  position: relative;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  margin: 3px;
}
.ars-specialfare {
  /* position: absolute;
  top: -14px;
  color: #d2d2d2;
  left: 35px;
  font-size: 10px; */
  /* position: relative;
  top: -14px; */
  color: #d2d2d2;
  /* left: 35px; */
  font-size: 10px;
  margin: 0px 0px 0px 30px;
  height: 15px;
  /* margin-top: -10px;*/
}
.ars-radiolist li label {
  /* display: block; */
  /* position: relative; */
  font-size: 16px;
  /* padding: 0 0 0 35px; */
  margin: 0 auto;
  height: 20px;
  /* top: -20px; */
  z-index: 2;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.25s linear;
}
.label-purple {
  background: #fbd4ffa3;
  color: #ff1da8;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
}
.label-Retail {
  background: #fbd4ffa3;
  color: #ff1da8;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-Coupon {
  background: #c9c3ffa3;
  color: #341dff;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-Special {
  background: #c3ffc5a3;
  color: #1dff1d;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-Spl-Coupon {
  background: #c3fbffa3;
  color: #1de5ff;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-WebSpl {
  background: #fffdc3a3;
  color: #ffdd1d;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-Offer {
  background: #ffe5c3a3;
  color: #ff7f1d;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-Private {
  background: #99bcf159;
  color: #28128a;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.label-NA {
  background: #ffccc3a3;
  color: #ff3f1d;
  border-radius: 0;
  padding: 0px;
  display: inherit;
  margin-top: 0px;
} 

.ars-flightlabel {
  float: left;
  min-width: 40px;
  font-size: 10px;
  text-align: center;
}
.atls-holder {
  /* position: relative; */
  /* top: -35px; */
}
.ars-lastre {
  max-width: 80%;
  margin-left: 6px;
  font-weight: normal;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  color: #999;
}
.atls-holder .nonrefund-type {
  color: #da666c;
  cursor: pointer;
}
.atls-holder .handbag-icons {
  color: #df1c1c;
  margin-left: 8px;
  margin: 0px 5px;
  border-left: 1px solid #cdcdcd;
  padding: 0px 5px;  
}
.radio-input-invisible {
  visibility: hidden;
  height: 0px;
}
.collapsed-flight-list {
  height: 135px;
  overflow: hidden;
}
.collapsed-flight-list ul {
  height: 135px;
}
.expanded-flight-list {
  height: 100%;
}
.expanded-flight-list ul {
  height: 100%;
}
.default-flight-list {
  min-height: 135px;
}
.exp-icon {
  position: relative;
  top: -25px;
  width: 10px;
  height: 10px;
  float: right;
  margin: 0px 15px;
  font-size: 15pt !important;
  color: #fd7e14;
  color: var(--active-search-item-color);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  cursor: pointer;
}
.expanded-flight-list .exp-icon {
  transform: rotate(-90deg);  
}
.flightrightview button {
  float: right;
  margin-bottom: 10px;
}
.process-status {
  font-size: 1.2em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 3%;  
}

.progressSection {
  /* background: red; */
  overflow: hidden; 
  text-align: center;  
}
.progressSection span {
  display: inline-block;
  /* float:left;  remove */
  margin: 30px 10px 0 0;
  padding: 5px 10px
}
.option-item {
  /* min-height: 15px; */
  display: flex;
}
.option-item i {
  margin: 15px 5px;
  color: rgb(191, 57, 57);
  font-size: 1.2em;
}
.option-item div {
  margin: 13px 10px;
  color: rgb(41, 48, 232);
}
.selected-option-item {
  font-size: .7em;
  color: #5560f3;
}
.switch-icon {
  content: "";
  background-image: url("./assets/svg/switch.svg");
  color: white;
  position: absolute;
  z-index: 1;
  height: 30px;
  width: 30px;
  right: -16px;
  top: 15px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;  
}
.hidden {
  display: none!important;
}
.at-fontweight {
  font-weight: 400;
  /* font-size: x-small; */
}
.mt-10 {
  margin-top: 10px;
}
p {
  line-height: 18px;
  margin: 0;
}